@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Gowun+Dodum&display=swap');
@import url(responsive.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;

}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
 

}
header > nav{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
  
}
header > nav > ul{
    display: flex;
    flex-direction: row;
    padding: 0 130px;
}
header > nav > ul > li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
    font-family:  sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.37);
}
main{
    border: 1px solid black;
    box-shadow: inset 1px 1px 2px black;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
}
main > .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
main img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 53%;
    border-style: none;
    height: auto;
    transition: all 1s;
   
}
main img:hover {

    vertical-align: middle;
    
    border-style: none;
    
    width: 70%;

    
    height: auto;
    
    -moz-transition: all 0.3s;
    
    -webkit-transition: all 0.3s;
    
    transition: all 2s;

    cursor: zoom-in;
    background-color: rgb(0, 0, 0);

    
    }


main > .container > h1{
    margin-top: 60px 0 0 0px;
    font-family: 'Gigodu', sans-serif;
    font-size: 80px;
    font-weight: 200;
}
main > .container > h2{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 90px;
    padding: 0 0 10px;
    margin: 0 0 2px;
    line-height: 162px;
    text-transform: capitalize;
    color: #E96D3A;
    font-weight: 300;

}
main > .container > p{
    font-family: 'Gowun Dodum';
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    margin: 0 30px;
    line-height: 30px;
}
.container .valor {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container p > a{
    display: flex;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    text-align: center;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-family: 'Gowun Dodum';
    font-size: 0.6em;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.411);
}
.container p > a:active{
    box-shadow: inset 1px 2px 0px rgba(0, 0, 0, 0.425);
    font-size: 0.5em;
}