.modo-noturno{
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
   
}
.navegador{
    background-color:#000000;
    color: #ffffff ;
}
.lista a{
    color: #ffffff !important;
}
button{
background: none;
border: none;
font-size: 1em;
font-weight: bold;
color: #E96D3A !important;
cursor: pointer;

}